header{
  display: flex;
  justify-content: space-between;
  background-image: url("../images/doctorate.png");
  background-position: center;
  background-size: contain;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
ul a{
    text-decoration: none;
}
ul a{
    color: #0152A8;
    border: 2px solid#0152A8;
    border-radius: 50px 0 50px 0;
    padding: 0.3rem 0.9rem;
    transition: 0.2s;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sec1{
  margin-top: 8%;

}
h1{
  font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;
text-align: center;
}
p{
  font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;

}
#vid{
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.mission{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 90px;
}
h4{
  font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.415em;
text-align: left;
}
h2{
  font-family: Montserrat;
font-size: 30px;
font-weight: 600;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
}
.mission p{
  font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.mright{
  margin-left: 20px;
}
.mright ol li{
  list-style: circle;
  font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.sec2{
  margin-top: 70px;
  background-image: url("../images/Background.png");
  background-position: center;
  background-size: cover;
  height: 40vh;
}
.sec2 h1{
  font-family: Montserrat;
font-size: 50px;
font-weight: 600;
line-height: 65px;
letter-spacing: 0em;
text-align: center;
color: white;
padding-top: 40px;
}
.sec2 button{
  margin-top: 10px;
  width: 15%;
  margin-left: 43%;
    padding: 10px;
   font-family: Inter;
    font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f0f;
  border: 2px solid#0152A8;
  border-radius: 20px 0 20px 0;
}
button a{
    text-decoration: none;
}
button:hover{
    background-color: #0f0f0f;
    border: none;
    color: white;
    cursor: pointer;
}
button a:hover{
  color: bisque;
  
}
.value{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 90px;

}
.vleft{
  width: 40%;
}
.vright{
  width: 50%;
}
.valueinfo{
  margin-top: 60px;
  width: 80vw;
  margin-left: 10%;
  margin-right: 10%;
}





footer{
    margin-top: 200px;
  background-image: url(../images/log.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wholefoot{
  padding-top: 45px;
  padding-bottom: 20px;
  margin-top: 60px;
  margin-left: 8%;
  margin-right: 8%;
}
.footinfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top{
  display: flex;
  justify-content: space-between;
}
.down{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.explore{
  display: flex;
  flex-direction: column;
}
.utility{
  display: flex;
  flex-direction: column;
}
.word{
  width: 37%;
}
.word h3{
  color: #1C1C1C;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
line-height: 57px;
letter-spacing: 0em;
text-align: left;
}
.explore li{
  list-style: none;
  margin-top: 10px;
  color: #21023a;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
text-align: left;
}
.utility li{
  list-style: none;
  margin-top: 10px;
  color: #21023a;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
text-align: left; 
}
h5{
    font-size: 20px;
  }
.explore, .utility h5{
  color: #1C1C1C;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-align: center;
}

.book h5{
  color: #1C1C1C;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 114.5%;
} 
.book p{
  color: #21023a;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
button{
    margin-top: 10px;
    padding: 10px;
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #0152A8;
border: 2px solid#0152A8;
border-radius: 20px 0 20px 0;
}
button a{
    text-decoration: none;
}

ul a:hover{
background-color: #0152A8;
color: white;
}
button:hover{
    background-color: #0152A8;
    border: none;
    color: white;
    cursor: pointer;
}
